* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    background: linear-gradient(to bottom, #6ab7f5, #fff 120%);
    min-height: 100vh;
    font-size: 140%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

form {
    display: flex;
}

header {
    background-color: rgb(189, 72, 72);
    color: beige;
    height: 80px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

}

h1 {
    color: rgb(221, 190, 14);
    font-family: 'Anton', sans-serif;
    font-size: 40px;
    letter-spacing: 3px;
    font-style: italic;
    margin-bottom: 30px;
    margin-top: -80px;
}

h3 {
    color: rgba(5, 5, 116, 0.664);
    font-family: Arial, Helvetica, sans-serif;
}

.hidden {
    display: none;
}

.inform {
    text-align: center;
    font-family: cursive;
}

input {
    all: unset;
    background-color: white;
    border: 1px solid black;
    box-sizing: border-box;
    font-family: cursive;
    font-size: 16px;
    width: 185px;
    padding: 6px;
}

input:focus {
    box-shadow: 1px 1px 5px 1px rgb(25, 78, 102);
}

label {
    color: rgb(71, 20, 20);
    font-family: fantasy, Arial, Helvetica, sans-serif;
    margin-bottom: 5px;
}

.pokedex {
    width: 350px;
}

.popup {
    background-color: white;
    width: 405px;
    height: 120px;
    border: 1px solid rgb(71, 20, 20);
    border-radius: 10px;
    font-size: 18px;
    position: absolute;
    top: 100px;
    right: 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.popup__msg {
    color: red;
    font-family: 'Anton', sans-serif;
    font-size: 20px;
    margin: 10px;
    letter-spacing: 1.5px;
}

.searchField {
    margin: 40px 15px 30px 15px;
    display: flex;
    flex-direction: column;
    position: relative;

}